.carousel-container {
    width: 80%;
    margin: auto;
  }
  
  /* .carousel-item {
    img {
      width: 80%;
      height: auto;
    }
  } */


  
#projects{
    width: 100vw;
    
}  

.projects-holder{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#projects h1{
    text-align: center;
}

.product-carousel {
    position: relative;
    overflow: hidden;
    padding: 26px;
}

.product-container {
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
   
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.next-btn:hover{
    background-color: transparent;
    border: none;
}
.pre-btn:hover{
    background-color: transparent;
    border: none;
}
.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 20px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 50%;
    color: white;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.cards{
    min-width: 450px;
    max-width: 450px;
    display: flex;
    height: 550px;
    background: rgba(255, 255, 255, 0.808); 
    backdrop-filter: blur(10px);
    margin: 10px;
    margin-left: 40px;
    margin-left: 40px;
    flex-direction: column;
    border-radius: 20px;
    color: Black;
}
.img-holder{
    width: 80%;
    height: 40%;
    background-color: grey;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20%;

   justify-content: center;
   align-items: center;
   
}
/* .img-holder::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, #f2f2f2 50%, transparent 100%);
    animation: shimmer 3.5s infinite linear;
}

@keyframes shimmer {
    to {
        left: 100%;
    }
} */

h1:hover{
    color: white;
    cursor: pointer;
}
.projectcard {
    width: 300px; /* Set the width of your div box */
    height: 400px; /* Set the height of your div box */
    background-color: #333333; /* Set the background color of the div box */
    position: relative;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px; /* Optional: Add rounded corners */
}
.projectcard:hover{
    scale: 1.05;
    transition: 0.3s;
    
}

.projectcard::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, #5e5e5e 50%, transparent 100%);
    animation: shimmer 3.5s infinite linear;
}

@keyframes shimmer {
    to {
        left: 100%;
    }
}
.projectcard p{
    background-color: transparent   ;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
@media only screen and (max-width: 700px) {
    .projects-holder{
        flex-direction: column;
    }
}
.thumbnail{
    border-radius: 3px;
}
.projectcard h3{
    text-align: center;
}
.projectcard a{
    text-align: center;
}