.contact-container{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.contact-heading{
    text-align: center;
}
    
.contact-txt,.contact-form{
    margin: 20px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}

.forminput{
    border: none;
    padding: 10px;
    border-bottom: solid 2px white;
    background: rgba(182, 182, 182, 0.185); 
    backdrop-filter: blur(10px); 
    color:white;
    border-bottom: soild 1px white;
    margin: 2PX;
}
::placeholder {
    color:grey;}


textarea{
  
        border: none;
        padding: 10px;
        border-bottom: solid 2px white;
        background: rgba(182, 182, 182, 0.195); 
    backdrop-filter: blur(10px); 
        color:white;
        border-bottom: soild 1px white;
        margin: 2PX;
}
.contact-txt{
    padding-top: 0;
    margin-top: 0;
    text-align: start;
    justify-content: center;align-items: center;
}
.submitbtn{
    border: solid grey 1px;
    color: grey;
}
.submitbtn:hover{
    border: solid grey 1px;
}

.forminput:hover{
    background-color:rgba(246, 235, 235, 0.39);  
    transition: 0.8s;
}

textarea:hover{
    background-color:rgba(246, 235, 235, 0.39);  
    transition: 0.8s;
}

#contact-span{
    color: rgb(255, 166, 0);
}
@media only screen and (max-width: 700px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .input .forminput{
        
        width: 100%;
    }
}
.icon{
    font-size: 25px;
    margin: 10px;
    color: black;
    background-color: transparent;
}

.icon:hover{
    scale: 1.25;
    transition: 0.5s;
}
.footertxt{
    font-size: .8rem;
    text-align: center;
    color: rgba(162, 162, 162, 0.418)
}
.footerlink{
    color: rgb(22, 22, 237);
    text-decoration: underline;
    cursor: pointer;
}