.menu ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: transparent;
  }
  .container{
    display: flex;
    margin: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-color: transparent;
  }
  .menu li {
    margin-right: 20px;
    background-color: transparent;
  }
  .logoImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .navLinks{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: transparent;
    
  }

  .navLinks:hover{
    color: white;
    transition: 0.25s;
    cursor: pointer;
  }


  @media only screen and (max-width: 700px) {
    .menu{
        display: none;
        margin-top: 0;
    }
    .navbar{
        background: rgba(182, 182, 182, 0); 
        backdrop-filter: blur(0px); }
  }
  @media only screen and (min-width: 700px) {
    .mobile-menu-toggle{
        display: none;
    }
  }


  .popup {
    /* position: fixed;
    top: 100px;
    justify-content: end;
    align-items: end;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: grey;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1100000; */
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(182, 182, 182, 0.777); 
    backdrop-filter: blur(10px); 
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100000;
  }

  .navLinks-mobile{
    background-color: transparent;
    color: white;
    text-decoration: none;
  }
  .mobul,li{
    background: transparent;
    list-style: none;
  }

  .mobul li{
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .closebtn{
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    
  }
  .btnholder{
    background-color: transparent;
    align-items: end;
    justify-content: end;
  }

  .logo{
    display: flex;
    background-color: transparent;
    
  }
  .logo:hover{
    cursor: pointer;
  }

  .logolink{
    color: white;
    margin-left: 12px;
  }
nav{
    position: fixed;
    width: 100%;
    padding-bottom: 0;
    
}
.divider{
    border: solid .5px rgba(128, 128, 128, 0.637);
    width: 95%;
    margin: auto;
}

nav{
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    background-color: transparent;
   
}
  

  .menu,.logolink,h1,.mobile-menu-toggle{
    background-color: transparent;
  }

  .navbar{
    background: rgba(182, 182, 182, 0); 
    backdrop-filter: blur(10px); 
    overflow-y: hidden;
    
  }