.Expheading{
    text-align: center;
}

.experience-card{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.151);
    color: black;
    display: flex;
    border: solid grey 1px;
    flex-direction: column;
    
}
    .experience-card:hover{
    background-color: transparent   ;
    cursor: pointer;
    transition: 0.5s;}

.Experience-holder{
    margin: 30px;
    width: 40%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
}
.experience-card h3{
    color: white;
    text-align: center;
}

.expcontainer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
}

@media only screen and (max-width: 700px) {

    .expcontainer{
        flex-direction: column;
    }

    .Experience-holder{
        width: 70%;
    }
}

.explogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    z-index: 5;
    }

    .explist{
        background-color: transparent;
        
    }
    .explist li{
       
        color: rgb(209, 209, 209);
        text-align: start;
    }

    .sectionheading {
        font-family: 'Arial', sans-serif;
        font-size: 3em;
        padding: 20px;
        color: rgb(189, 189, 189);
        text-align: center;
        letter-spacing: 4px;
        position: relative;
        
    }

    @keyframes neonGlow {
        to {
            text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.9);
        }
    }

    .sectionheading:hover{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9);
        animation: neonGlow 1.5s infinite alternate;
        transition: 0.8s;
    }
    
  